html{
  background-color: #ffffff;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px 20px 20px 20px;
}

header {
  background-color: #ffffff;
  text-align: center;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('../img/header.png');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  font-family: 'Bodoni MT', Didot, Garamond, Times News Roman, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  color: #ffffff;
}

.navigation {
  text-align: center;
  }

.navigation li {
  display: inline-block;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  height: 100%;
  padding: 10px;
}

main img {
  display: block;
  max-width: 100%;
}

#s1 {
  background-color: #f8f8ff;
  margin: 0;
  width: 100%;
  height: auto;
}

#s2 {
  background-color: #74C7D5;
  margin: 0;
  width: 100%;
  height: auto;
}

#s3 {
  background-color: #05264C;
  margin: 0;
  width: 100%;
  height: auto;
}

#s4 {
  background-color: #DDECFD;
  margin: 0;
  width: 100%;
  height: auto;
}

#s5 {
background-color: #F6F6F6;
margin: 0;
width: 100%;
height: auto;
}

.subheading-one {
    font-family: "Poppins", sans-serif;
    color: #17272A;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    margin: 10px;
}

.subheading-two {
    font-family: "Poppins", sans-serif;
    color: #17272A;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    margin: 10px;
}

.subheading-three {
    font-family: "Poppins", sans-serif;
    color: #F1D729;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    margin: 10px;
}

.subheading-four {
    font-family: "Poppins", sans-serif;
    color: #17272A;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    margin: 10px;
}

.subheading-five {
    font-family: "Poppins", sans-serif;
    color: #17272A;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    margin: 10px;
}

.navy-text {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  margin: 10px;
}

.blue-text {
  font-family: 'Poppins', sans-serif;
  color: #05264C;
  font-size: 14px;
  font-weight: normal;
  margin: 10px;
}

.white-text {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 10px;
}

#welcome, #dishoom {
  display: block;
  font-size: 2em; /*2em = x2 given font size is 14px*/
  font-family: 'Poppins', sans-serif;
  text-align: left;
  weight: bold;
  text-transform: uppercase;
  color: #05264c;
  margin: 10px;
}

#classic {
  display: block;
  font-size: 2em; /*2em = x2 given font size is 14px*/
  font-family: 'Poppins', sans-serif;
  text-align: left;
  weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px;
}

#basic {
  display: block;
  font-size: 2em; /*2em = x2 given font size is 14px*/
  font-family: 'Poppins', sans-serif;
  text-align: left;
  weight: bold;
  text-transform: uppercase;
  color: #05264C;
  margin: 10px;
}

#magic {
  display: block;
  font-size: 2em; /*2em = x2 given font size is 14px*/
  font-family: 'Poppins', sans-serif;
  text-align: left;
  weight: bold;
  text-transform: uppercase;
  color: #05264C;
  margin: 10px;
}

footer {
  background-color: #05264c;
  font-family: "Poppins", sans-serif;
  color: #F1D729;
  font-size; 12px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
